<div class="panel-body">
    <h2>
        List of Articles
    </h2>

    <div class="col-sm-12 col-md-4" ng-repeat="article in articles">
        <div class="thumbnail">
          <div class="caption caption-list">
            <h3 class="thumbnail-label">{{ article.title }}</h3>
            <p>{{article.description | limitTo:100}} ... </p>
            <p>
                <div class="btn-group">
                    <label class="btn btn-primary btn-sm" ng-model="article.visible" btn-radio="true">Public</label>
                    <label class="btn btn-primary btn-sm" ng-model="article.visible" btn-radio="false">Private</label>
                </div>
            </p>
            <div class="bootstrap-tagsinput">
                <span class="tag label label-danger label-important"
                    ng-click="searchByTag(tag)" ng-repeat="tag in article.tags">{{ tag }}</span>
            </div>
          </div>
        </div>
      </div>
</div>