<div class="panel-body">
    <info-message></info-message>
    <h2>
        List of Articles
    </h2>

    <div id="id"></div>

    <div class="col-sm-12 col-md-4" ng-repeat="article in articles">
        <div class="thumbnail">
          <div class="caption caption-list">
            <a href="/dashboard/#/updateArticle/{{article.permalink}}" class="btn btn-default btn-sm glyphicon glyphicon-edit pull-right"></a>
            <h3 class="thumbnail-label cursor-pointer" ng-click="searchByPermalink(article.permalink)">{{ article.title }}</h3>
            <p class="cursor-pointer" ng-click="searchByPermalink(article.permalink)">{{article.description | limitTo:100}} ... </p>
            <p>
                <div class="btn-group">
                    <label ng-click="updateVisibility(article._id, true)" class="btn btn-primary btn-sm" ng-model="article.visible" btn-radio="true">Public</label>
                    <label ng-click="updateVisibility(article._id, false)" class="btn btn-primary btn-sm" ng-model="article.visible" btn-radio="false">Private</label>
                </div>
            </p>
            <div class="bootstrap-tagsinput">
                <span class="tag label label-danger label-important"
                    ng-click="searchByTag(tag)" ng-repeat="tag in article.tags">{{ tag }}</span>
            </div>
          </div>
        </div>
      </div>
</div>