<div class="panel-body">
    <h2 ng-show="!articles.none">
        Latest Articles
    </h2>

    <div ng-show="articles.none">
        <h1>
            Opss No Wikis to show !!
            <a class="anchorjs-link" href="#"><span class="anchorjs-icon"></span></a></h1>
            <p>
                You can try with another search !!
            </p>

    </div>

    <div class="col-sm-12 col-md-3 removing home-articles" ng-repeat="article in articles" id="a_{{article._id}}">
        <div class="thumbnail">
          <div class="caption caption-list home-caption">
            <h3 class="thumbnail-label cursor-pointer" ng-click="searchByPermalink(article.permalink)">{{ article.title | limitTo:40}}</h3>
            <p class="cursor-pointer article-desc" ng-click="searchByPermalink(article.permalink)">{{article.description | limitTo:100}} ... </p>
            <div class="bootstrap-tagsinput home-tags">
                <span class="tag label label-danger label-important"
                    ng-click="searchByTag(tag)" ng-repeat="tag in article.tags">{{ tag }}</span>
            </div>
          </div>
        </div>
      </div>
</div>