<div class="panel-body">
    <h1>
        {{ article.title }}
    </h1>

    <p class="article-date">Published
        <time datetime="{{article.createdAt}}" pubdate="">
            {{ article.createdAt | date : 'fullDate'}}
        </time>
    </p>

    <div ng-bind-html="article.content"></div>
    <!-- waning, success, default , primary -->

    <div class="bootstrap-tagsinput">
        <span class="tag label label-primary label-important" ng-repeat="tag in article.tags">{{ tag }}</span>
    </div>

</div>