<div class="panel-body">
    <h1>
        {{ article.title }}
    </h1>


    <div class="public-author-container">
        <figure>
            <a href="/#/showAuthor/{{author._id}}">
                <img class="autor-image" ng-src="{{author.photo}}" width="70" height="70" alt="" ng-show="author.photo">
            </a>
        </figure>

        <div class="contributor_details">
            <div class="contributor_name">
                <a href="/#/showAuthor/{{author._id}}">{{author.name}}</a>
            </div>
        </div>
    </div>

    <p class="article-date">Published
        <time datetime="{{article.createdAt}}" pubdate="">
            {{ article.createdAt | date : 'fullDate'}}
        </time>
    </p>
    <div ng-bind-html="article.content"></div>
    <!-- warning, success, default , primary -->

    <div class="bootstrap-tagsinput">
        <span class="tag label label-primary label-important" ng-click="searchByTag(tag)" ng-repeat="tag in article.tags">{{ tag }}</span>
    </div>

    <comments-form article-id="{{article.id}}" permalink="{{article.permalink}}" currentuser="{{currentUser._id}}"></comments-form>

</div>