<div class="panel-heading">
    <h3 class="panel-title" id="panel-title">{{pageTitle}}
        <a class="anchorjs-link" href="#panel-title">
            <span class="anchorjs-icon"></span>
        </a>
    </h3>
</div>
<div class="panel-body">

    <info-message></info-message>

    <form name="articleForm" ng-submit="submitForm(articleForm.$valid)" novalidate >
        <div class="fm-elements">
            <span>Title</span>
            <input type="text"
                ng-model="article.title"
                class="form-control"
                ng-class="{ 'ng-dirty' : articleForm.$submitted && article.validate }"
                placeholder="Ex : How to start with angular and node" required>
        </div>

        <div class="fm-elements">
            <span>Article Description</span>
            <textarea ng-model="article.description"
                class="form-control"
                ng-class="{ 'ng-dirty' : articleForm.$submitted && article.validate}"
                required placeholder="Summarize your article sample in 500 characters or less" rows="5">
                </textarea>
        </div>

        <div class="fm-elements">
            <span>Article Content</span>
            <!-- remember !article.content validate if content was setted, if not and submitted, put invalid classes -->
            <div ng-class="{ 'ng-dirty ng-invalid' : articleForm.$submitted && article.validate && !article.content}">
                <textarea
                    ng-model="article.content"
                    class="form-control"
                    ng-class="{ 'ng-dirty' : articleForm.$submitted && article.validate}"
                    required placeholder=" Write your article "
                    ckeditor="editorOptions"
                    rows="5">
                </textarea>
            </div>
        </div>

        <div class="fm-elements">
            <span>Article Visibility</span>
            <div>
                <div class="btn-group">
                    <label class="btn btn-primary" ng-model="article.radioVisibility" btn-radio="1">Public</label>
                    <label class="btn btn-default" ng-model="article.radioVisibility" btn-radio="0">Private</label>
                </div>
            </div>
        </div>

        <div class="fm-elements">
        <span>Article Tags</span>
            <tags-input ng-model="article.tags"></tags-input>
        </div>

        <div class="fm-elements">
            <button type="submit" class="btn btn-primary pull-right">Save Article</button>
        </div>
        <input type="hidden" ng-model="article.id">
    </form>
</div>