/* ==========================================================================
   Rigo's custom styles
   ========================================================================== */

.container .jumbotron{
    margin-top: 15px;
}

.fm-elements{
    margin-bottom: 15px;
}

button{
    margin: 3px;
}

input.ng-invalid.ng-dirty, textarea.ng-invalid.ng-dirty{
    border: 1px solid #D72704;
}