{% extends 'layout.html' %}

{% block content %}

    <div class="jumbotron">
        <div class="panel panel-primary" ng-view>
        </div>
    </div>

    <link rel="stylesheet" href="../libs/ng-ckeditor/ng-ckeditor.css">
    <link rel="stylesheet" href="../libs/ng-tags-input/ng-tags-input.min.css">

    <script src="../libs/angular.min.js"></script>
    <script src="../libs/angular-route.min.js"></script>
    <script src="../libs/angular-sanitize/angular-sanitize.js"></script>
    <script src="../libs/ng-tags-input/ng-tags-input.min.js"></script>
    <script src="../libs/ng-ckeditor/libs/ckeditor/ckeditor.js"></script>
    <script src="../libs/ng-ckeditor/src/scripts/02-directive.js"></script>
    <script src="../libs/ui-bootstrap-custom-0.12.1.min.js"></script>

    <script src="../js/controllers.js"></script>
    <script src="../js/directives.js"></script>
    <script src="../js/filters.js"></script>
    <script src="../js/services.js"></script>
    <script src="../js/main.js"></script>

{% endblock %}