{% extends 'layout.html' %}

{% block content %}

    <div class="jumbotron">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title" id="panel-title">Create a New Article
                    <a class="anchorjs-link" href="#panel-title">
                        <span class="anchorjs-icon"></span>
                    </a>
                </h3>
            </div>
            <div class="panel-body" ng-controller="newArticleController as nAC">

                <info-message></info-message>

                <form name="articleForm" ng-submit="submitForm(articleForm.$valid)" novalidate>
                    <div class="fm-elements">
                        <span>Title</span>
                        <input type="text"
                            ng-model="article.title"
                            class="form-control"
                            ng-class="{ 'ng-dirty' : articleForm.$submitted }"
                            placeholder="Ex : How to start with angular and node" required>
                    </div>

                    <div class="fm-elements">
                        <span>Article Description</span>
                        <textarea ng-model="article.description"
                            class="form-control"
                            ng-class="{ 'ng-dirty' : articleForm.$submitted }"
                            required placeholder="Summarize your article sample in 500 characters or less" rows="5">
                            </textarea>
                    </div>

                    <div class="fm-elements">
                        <span>Article Content</span>
                        <textarea
                            ng-model="article.content"
                            class="form-control"
                            ng-class="{ 'ng-dirty' : articleForm.$submitted }"
                            required placeholder=" Write your article "
                            rows="5"></textarea>
                    </div>

                    <div class="fm-elements">
                        <button type="button" class="btn btn-info pull-right">Preview</button>
                        <button type="submit" class="btn btn-primary pull-right" ng-disabled="userForm.$invalid">Save Article</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="http://localhost:5000/libs/angular.min.js"></script>
    <script src="http://localhost:5000//js/controllers.js"></script>
    <script src="http://localhost:5000//js/directives.js"></script>
    <script src="http://localhost:5000//js/filters.js"></script>
    <script src="http://localhost:5000//js/services.js"></script>
    <script src="http://localhost:5000//js/main.js"></script>

{% endblock %}