{% extends 'layout.html' %}

{% block content %}

   <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>Boilerplate project</h1>
            <p>Basic template project to start quick test, and applications</p>
            <a class="btn btn-primary btn-lg" href="/auth/twitter">Login with Twitter</a>
            <a class="btn btn-primary btn-lg" href="/auth/facebook">Login with Facebook</a>
        </div>
    </div>

{% endblock %}